body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  /*font-weight: 800 !important;*/
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.headerbg {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /*background: linear-gradient(0deg, #01579B 0%, #E0E0E0 100%);*/
  /*background: linear-gradient(0deg, #00AF55 0%, #000000 100%);*/
  background: linear-gradient(0deg, #000000 0%, #00AF55 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.headerbg .headerbg-content {
  z-index: 1;
  position: relative;
}

header.headerbg .headerbg-content .headerbg-heading {
  font-size: 4rem;
  text-transform: uppercase;
}

header.headerbg .headerbg-content .headerbg-subheading {
  font-size: 2rem;
}

header.headerbg .sphere {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  /*background: linear-gradient(0deg, #01579B 0%, #E0E0E0 100%);*/
  /*background: linear-gradient(0deg, #00AF55 0%, #000000 100%);*/
  background: linear-gradient(0deg, #000000 0%, #00AF55 100%);

}

header.headerbg .sphere-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.headerbg .sphere-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.headerbg .sphere-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.headerbg .sphere-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.headerbg {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.headerbg .headerbg-content .headerbg-heading {
    font-size: 6rem;
  }
  header.headerbg .headerbg-content .headerbg-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #01579B !important;
}

.btn-primary {
  /*background-color: #01579B;*/
  /*border-color: #01579B;*/
  background-color: #00AF55;
  border-color: #00AF55;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  /*background-color: #FB8C00 !important;*/
  /*border-color: #FB8C00 !important;*/
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
